{% extends "content/base.html" %}
{% load static %}


{% block alt_title %} | 403 Error{% endblock alt_title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'content/stylesheets/custom_css/search_results.css' %}" defer>
{% endblock extra_css %}


{% block page_contents %}
<div class="content">
    <div class="nothing-found">
    <img src="{% static 'content/illustrations/undraw_to_the_moon_v1mv.svg'%}" alt="no results image" height="250"
            width="500">
        <h1>403: Access Forbidden</h1>
        <h3 class="text-primary">You're not allowed to do that.<br>If this is a mistake, contact the server admin.</h3>
    <a class="pure-button button-link text-center" onclick="window.history.back()" aria-label="Home" title="Home">
            Go Back
    </a>
    </div>
</div>
{% endblock page_contents %}
