{% extends "content/base.html" %}
{% load static %}


{% block alt_title %} | 500 Error{% endblock alt_title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'content/stylesheets/custom_css/search_results.css' %}" defer>
{% endblock extra_css %}


{% block page_contents %}
<div class="content">
    <div class="nothing-found">
    <img src="{% static 'content/illustrations/undraw_server_down_s4lk.svg'%}" alt="no results image" height="250"
            width="500">
        <h1>500: Internal Server Error</h1>
        <h3 class="text-primary">Looks like something broke on our end<br>Reload the page or try again later.</h3>
    <a class="pure-button button-link text-center" onclick="window.history.back()" aria-label="Home" title="Home">
            Go Back
    </a>
    </div>
</div>
{% endblock page_contents %}
