{% extends "content/base.html" %}
{% block alt_title %} | FAQ{% endblock alt_title %}
{% block faq_selected %}pure-menu-selected{% endblock faq_selected %}
{% block page_contents %}
<div class="header">
    <h1>F<small>requently</small> A<small>sked</small> Q<small>uestions</small></h1>
    <h2 class="text-primary">What would you like to know?</h2>
</div>
<div class="content">
    <h2 class="content-subhead text-primary">What is Build Bible?</h2>
    <p>
        As anyone who has ever owned or worked on a project car can tell you, there's
        nothing worse than not being able to find information you need for what you're working on.
        Sure, there are dedicated internet forums for nearly every platform imaginable,
        but in many cases, finding what you're looking for on these websites is akin to
        finding the proverbial "needle in the haystack". How many fruitless hours have you spent
        sifting through a decades-old forum thread, only to find 10 pages of users
        bickering back-and-forth, with the topic leading nowhere and no relevant information being shared?
        <br>
        <br>
        Yeah, us too.
        <br>
        <br>
        This is where Build Bible steps in to save the day. We make the information you're looking for
        just a click away in one cohesive, logical format so you can spend more time finishing your project
        and less time digging through the mess!
    </p>
    <h2 class="content-subhead text-primary">Where does all this information come from?</h2>
    <p>
        The information presented in the official Build Bible content pages comes from the
        many separate sources across the internet, as well as from our own personal experiences. In
        essence, it is the same information you would find hidden in forums and documnets speread across
        the web. We scour the internet for the most useful, accurate information, then compile it into an
        organized, easy-to-find format and make it available all in one place right at your finger tips!
    </p>
    <h2 class="content-subhead text-primary">I can't find the information I'm looking for, I
        thought you knew everything!?</h2>
    <p>
        Unfortunately, we are but a tiny team of enthusiasts, making it is impossible for us to
        know the nuances of every single project and platform out there. It's for this reason that
        we encourage members of the automotive community to lend a helping hand allowing us to continually
        improve the wealth of knowlege contained within our database. If you feel you posess information on
        a particular subject that we have not yet covered (for example, details about an obscure engine
        swap, a tip on getting the most out of a particular upgrade, etc.) or if you notice a discrepancy in one
        of our posts <small><em>(hey, we're still only human!)</em></small> then you're encouraged to make yourself heard! 
        You can contact us directly if there is a particular topic you feel needs to be covered and we will do
        our best to find the information and get it added to the site for the rest of the community to enjoy!
    </p>
</div>

{% endblock page_contents %}