{% extends "content/base.html" %}
{% block alt_title %} | FAQ{% endblock alt_title %}
{% block faq_selected %}pure-menu-selected{% endblock faq_selected %}
{% block page_contents %}
<div class="header">
    <h1>F<small>requently</small> A<small>sked</small> Q<small>uestions</small></h1>
    <h2 class="text-primary post-subtitle">What would you like to know?</h2>
</div>
<div class="content">
    <h2 class="content-subhead text-primary">What is Build Bible?</h2>
    <p>
        Simply put, <em><strong class="text-primary">a curated collection of information for most popular
        project car platforms.</strong></em>
    </p>
    <p>
        As anyone who has ever owned a project car will tell you, there's nothing more frustrating than not being able
        to find the information you need, when you need it. Sure, there are dedicated internet forums for
        nearly every platform imaginable these days, but in many cases, finding what you're looking for on
        these websites is akin to the proverbial "needle in the haystack". How many fruitless hours have you
        spent sifting through a decades-old forum thread, only to find the topic leading nowhere and no relevant
        information being shared?
    </p>
    <p>
        <em><strong>Yeah, us too.</strong></em>
    </p>
    <p>
        This is where <span class="text-primary"><strong>Build Bible</strong></span> steps in. We collect the
        information you may need, store it in one massive, searchable database, and present it in a cohesive,
        logical format so you can spend more time finishing your project and less time digging through the mess!
    </p>

    <h2 class="content-subhead text-primary">Where does all this information come from?</h2>
    <p>
        The information presented on official <span class="text-primary"><strong>Build Bible</strong></span> content
        pages comes from many separate sources across the internet <small>(as well as from our own personal
        experiences)</small>. In essence, it is the same info you would find hidden in forums and documents spread
        across the web. We scour the internet for the most useful, accurate information we can find, then compile it
        into an organized and easy-to-find format, available all in one place!
    </p>

    <h2 class="content-subhead text-primary">I can't find the information I'm looking for, I
        thought you knew everything!?</h2>
    <p>
        Unfortunately, we are but a tiny team of enthusiasts, making it impossible for us to
        know the nuances of every single project and platform out there. It's for this reason that
        we encourage members of the automotive community to lend a helping hand, allowing us to continually
        improve the wealth of knowledge contained within our database.
    </p>
    <p>
        If you feel you possess information on a particular subject that we have not yet covered (for example,
        details about an obscure engine swap, a tip on getting the most out of a particular upgrade, etc.) or if
        you notice a discrepancy in one of our posts <small><em>(hey, we're still only human!)</em></small>, then
        you're encouraged to make yourself heard! You can contact us directly, we deeply value your feedback! We will
        then do our best to find or correct the information and get it added to the site for the rest of the community
        to enjoy!
    </p>
</div>

{% endblock page_contents %}