{% extends 'content/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'content/stylesheets/custom_css/nav_links.css' %}" defer>
    <link rel="stylesheet" href="{% static 'content/stylesheets/custom_css/vehicle_page.css' %}" defer>
    <link rel="stylesheet" href="{% static 'content/stylesheets/custom_css/posts.css' %}" defer>
{% endblock extra_css %}

{% block alt_title %} | General Knowledge{% endblock alt_title %}
{% block general_selected %}pure-menu-selected{% endblock general_selected %}

{% block page_contents %}

<div class="header">
    <div class="vehicle-header">
        <div class="image vehicle-image">
            <img src="{% static 'images/books-stack-of-three.svg'%}" alt="books" class="pure-img">
        </div>
        <div class="vehicle-header-title">
            <h1>General Knowledge</h1>
            <h3 class="text-primary">Non Vehicle Specific Information</h3>
        </div>
    </div>
</div>
<div class="content">
    <ul id="category-tabs" class="nav justify-content-center nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-category=1>Specs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-category=2>Mechanical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-category=3>Interior</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-category=4>Exterior</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-category=5>Miscellaneous</a>
        </li>
    </ul>
    <br>
    <div class="posts h-50">
    </div>
</div>
<script src={% static 'content/js/update_results.js' %}></script>
<div id="page-data" data-vehicle_id=0 data-update_url="{% url 'update_content'%}"
                    data-illurl="{% static 'content/illustrations/undraw_Taken_if77.svg'%}"></div>
{% endblock page_contents %}