{% extends "content/base.html" %}
{% block meta %}<meta name="Description" content="{{ object.description }}">{% endblock meta%}
{% block alt_title %} | {{object.title}}{% endblock alt_title %}
{% block alt_JS %}{% endblock alt_JS %}
{% block page_contents %}
<div class="header">
    {% if object.title|length > 25 %}
        <h1 class="title-smaller">{{ object.title }}</h1>
    {% else %}
        <h1 class="title-smaller">{{ object.title }}</h1>
    {% endif %}
    {% if object.subtitle != None %}
    <h2 class="post-subtitle text-primary">{{ object.subtitle }}</h2>
    {% endif %}
    <nav class="breadcrumbs">
        <p>
            <span>
                <a href="{% url 'content-home' %}" class="bread-link" aria-label="Home" title="Home">Home</a>
            </span>
            /
            <span>
            {% if object.context %}
                <a href="/vehicle/?vehicle={{ object.context.id }}" aria-label="{{ object.context.manufacturer }} {{ object.context.model_name }}" title="{{ object.context.manufacturer }} {{ object.context.model_name }}">
                    {{ object.context.manufacturer }} {{ object.context.model_name }}
                </a>
                {% else %}
                    <a href="{% url 'content-general'%}" aria-label="General Knowledge" title="General Knowledge">
                        General Knowledge
                    </a>
                {% endif %}
            </span>
            /
            <span class="text-dark">{{ object.title }}</span>
        </p>
    </nav>
</div>
<div class="content">
    {{ object.content|safe }}
    <br>
    <center>
        <button class="pure-button button-primary share-button">
            Share This Content
        </button>
    </center>
</div>
<div class="modal-backdrop" style="display: none;">
    <div class="share-modal">
        <a class="modal-close"><ion-icon name="close-circle-outline" size="large"></ion-icon></a>
        <h1 class="text-primary">Share This Page</h1>
        <input class="url-box" type="text" readonly value="{{ request.build_absolute_uri }}">
        <button class="pure-button button-primary copy-button">Copy to Clipboard</button>
    </div>
</div>
<div id="post_data" data-title="{{ object.title }}" data-description="{{ object.description }}"></div>
<script>
    $(document).ready(function () {
        $('table').addClass('pure-table').addClass('pure-table-bordered');
        $('table').removeAttr("style");
        $('h1', '.content').addClass('content-subhead');
	$('table').wrap("<div class='table-wrapper'></div>");
	$('.table-wrapper').before("<small class='table-scroll flashing'>Scroll for more >>><small>")
	    $('.table-wrapper').scrollLeft(1000)

	 var shareBtn = $('.share-button'),
            shareDescription = $('#post_data').data('description');

        $(shareBtn).on('click', function(){
            if (navigator.share) {
                navigator.share({
                    title: document.title + '\n',
                    text: shareDescription + '\n',
                    url: window.location.href,
                })
                    .then(() => console.log('Share successful'))
                    .catch((error) => console.log('Error sharing', error));
                } 
                else{
                   var shareModalBackdrop = $('.modal-backdrop');
                   $(shareModalBackdrop).fadeIn();
                }
        var modalClose = $('.modal-close'),
            copyButton = $('.copy-button'),
            urlBox = $('.url-box'),
            ogURL = urlBox.val();
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).val()).select();
            console.log($temp.val($(element).val()).select())
            document.execCommand("copy");
            $temp.remove();
}
        $(modalClose).on('click', function(){
            shareModalBackdrop.fadeOut(function(){
                urlBox.val(ogURL);
            });
            
        })
        $(copyButton).on('click', function(){
            copyToClipboard('.url-box');
            urlBox.val('Copied!')
        })
    })
    
})
</script>
{% endblock page_contents %}
