{% extends 'content/base.html' %}
{% block alt_title %} | Password Reset{% endblock alt_title %}
{% load crispy_forms_tags %}
{% block page_contents %}

<div class="content h-50 form-pad">
    <h1 class="content-subhead">Password Reset Request</h1>
    <form method="POST" class="pure-form">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
            <small class="text-muted">* indicates required field</small>
            <div class="w-100 flex-center">
                <button class="pure-button button-primary w-50" type="submit" aria-label="Submit Request" title="Submit Request">Request Reset</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock page_contents %}