{% extends 'content/base.html' %}
{% block alt_title %} | Password Reset{% endblock alt_title %}
{% block page_contents %}
    <div class="header">
        <h1>Password Reset Successful</h1>
    </div>
    <div class="content text-center h-50 w-50 form-pad m-center">
        <h1>Your password has been reset successfully.</h1>
        <br>
        <h3>
            <a class="pure-button button-link" href="{% url 'login'%}" aria-label="Sign In" title="Sign In">Sign In Here</a>
        </h3>
    </div>
{% endblock page_contents %}