{% extends 'content/base.html' %}
{% block alt_title %} | Password Reset{% endblock alt_title %}
{% block page_contents %}
    <div class="header">
        <h1>Password Reset Email Sent</h1>
    </div>
    <div class="content text-center h-50 w-50 form-pad m-center">
        <h1>An email has been sent with instructions to reset your password.</h1>
        <br>
        <h3>Didn't mean to sign out?
            <a href="{% url 'login'%}" aria-label="Sign In" title="Sign In">Sign back in!</a>
        </h3>
    </div>
{% endblock page_contents %}